.bg-img {
     background-image: url(demo.jpg) ;
     background-position: center center;
     background-repeat:  no-repeat;
     background-attachment: fixed;
     background-size:  cover;
     background-color: #999;
}

.custom-image {
    width: 100%;

}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%
}

.hl-font {
  font-family: 'Germania One', cursive;
}
